<div class="login-container">
  <form class="form--login">
    <p class="form-title">Sign in to your account</p>
    <div class="input-container">
      <input type="email" id="email" placeholder="Enter email" />
    </div>
    <span></span>
    <div class="input-container">
      <input type="password" id="password" placeholder="Enter password" />
    </div>
    <button type="submit" class="submit">Sign in</button>
    <p class="login-link">
      Forgot password?
      <a href="/forget-password">Reset password</a>
    </p>
    <p class="signup-link">
      No account?
      <a href="/sign-up">Sign up</a>
    </p>
  </form>
</div>
